

* {
  font-family: 'MatrixCode', monospace;
  
  
  }




body {
  padding: 5px;
}


/* root per i colori */

/* Definisci gli stili del sito per il tema blu */
body.black-theme {
    background-color: rgb(10, 10, 10);
    color: rgba(255, 255, 255, 0.486);
  }
  
  /* Definisci gli stili del sito per il tema verde */
  body.dark-theme {
    background-color: rgb(45, 55, 45);
    color: rgb(152, 187, 158);
  }
  
  /* Definisci gli stili del sito per il tema rosso */
  body.green-theme {
    background-color: rgb(25, 52, 25);
    color: rgb(6, 10, 6);
  }
  
  /* Definisci gli stili del sito per il tema giallo */
  body.blue-theme {
    background-color: rgb(47, 96, 195);
    color: rgb(249, 248, 248);
  }
  
  
  #black-theme {
    background-color: rgb(10, 10, 10);
    color: rgb(98, 103, 98);
  }

  #dark-theme {
    background-color: rgb(72, 73, 63);
    color: rgb(0, 0, 0);
  }

  #green-theme {
    background-color: rgb(26, 53, 31);
    color: rgb(14, 233, 18);
  } 
    
  #blue-theme {
    background-color: rgb(17, 0, 255);
    color: rgb(164, 161, 161);
  }
  
  .theme-buttons {
    display: flex;
    border-radius: 5px;
    border-color: rgba(255, 17, 17, 0.712);
    border-style: solid;
    border-width: 1px; 
    cursor: pointer;  
    font-size: 10px;
  
  }

  /* FINE THEME BUTTONS */


/* STILE NAVBAR */
.navbar {
    background-color: #4c624b;
    display: flex;
    /* justify-content: space-between; */ 
    /* align-items: center; */
    padding: 10px;
    /* font-size: 11px; */
  }
  
  .logo img {
    height: 40px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;

    
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #f3e0e0;
    font-size: 11px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #614c4c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .search input[type="text"] {
    padding: 6px;
    border: none;
    border-radius: 4px;
    font-size: 13px;
  }
  
  .search button {
    padding: 6px 12px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 12px;
  }
  
  .buttons button {
    padding: 8px 16px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 11px;
  }

  /* STILE BODY */

  
.matrix-text-container3 h1 {
    /* position: absolute; */
    /* padding-left: 0px; */
    padding-right: 40px;
    font-family: monospace;
    /* font-size: 24px; */
    color: rgb(146, 211, 146);
    /* padding: 10px; */
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid rgb(197, 255, 208);
    animation: typing 5s steps(30) forwards, blink .4s step-end infinite alternate;
   
  }
  .frase1 h1 {
    animation-delay: 2s;
       
  }
  
   @keyframes typing {
    from { width: 0 }
    to { width:100% }
    
  } 

  
  
  @keyframes blink {
    from, to { border-color: transparent }   
    50% { border-color: rgb(255, 254, 254) } 
   
  }

  /* INIZIO CSS DI HTML5 */

  .descrHtml1 {
    font-size: 13px;
    color: rgb(168, 16, 16);
    font-family: monospace;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background: linear-gradient(to top left, rgba(255, 17, 17, 0.712), rgba(85, 65, 65, 0.486), rgba(83, 74, 74, 0.712), rgba(23, 23, 23, 0.712));
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  }

  .descrHtml2 {
    font-size: 12px;
    color: rgb(119, 101, 101);
    font-family: monospace;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  }

  .markTag {
    background: linear-gradient(rgba(251, 142, 142, 0.712), rgba(255, 255, 255, 0.486), rgba(250, 148, 148, 0.712));
    color: rgb(0, 0, 0);
  }

  .descrHtml3 {
    font-size: 12px;
    color: rgb(49, 157, 69);
    font-family: monospace;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background: linear-gradient(to top left, rgba(17, 255, 45, 0.712), rgba(74, 248, 79, 0.486), rgba(74, 83, 75, 0.712), rgba(23, 23, 23, 0.712), rgba(0, 0, 0, 0.712));
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  }

  
  