

* {
  font-family: 'MatrixCode', monospace;
  
  
  
  }




body {
  padding: 10px;
}


/* root per i colori */

/* Definisci gli stili del sito per il tema blu */
body.black-theme {
    background-color: rgb(10, 10, 10);
    color: rgba(255, 255, 255, 0.486);
  }
  
  /* Definisci gli stili del sito per il tema verde */
  body.dark-theme {
    background-color: rgb(45, 55, 45);
    color: rgb(152, 187, 158);
  }
  
  /* Definisci gli stili del sito per il tema rosso */
  body.green-theme {
    background-color: rgb(25, 52, 25);
    color: rgb(6, 10, 6);
  }
  
  /* Definisci gli stili del sito per il tema giallo */
  body.blue-theme {
    background-color: rgb(47, 96, 195);
    color: rgb(249, 248, 248);
  }
  
  
  #black-theme {
    background-color: rgb(10, 10, 10);
    color: rgb(98, 103, 98);
  }

  #dark-theme {
    background-color: rgb(72, 73, 63);
    color: rgb(0, 0, 0);
  }

  #green-theme {
    background-color: rgb(26, 53, 31);
    color: rgb(14, 233, 18);
  } 
    
  #blue-theme {
    background-color: rgb(17, 0, 255);
    color: rgb(164, 161, 161);
  }
  
  .theme-buttons {
    display: flex;
    border-radius: 5px;
    border-color: rgba(255, 17, 17, 0.712);
    border-style: solid;
    border-width: 1px; 
    cursor: pointer;  
    font-size: 10px;
  
  }

  /* FINE THEME BUTTONS */


/* STILE NAVBAR */
.navbar {
    background-color: #516750;
    display: flex;
    /* justify-content: space-between; */ 
    /* align-items: center; */
    padding: 10px;
    /* font-size: 11px; */
  }
  
  .logo img {
    height: 40px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;

    
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #f3e0e0;
    font-size: 11px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #614c4c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-menu {
    background-color: #614c4c;
  }
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .search input[type="text"] {
    padding: 6px;
    border: none;
    border-radius: 4px;
    font-size: 13px;
  }
  
  .search button {
    padding: 6px 12px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 12px;
  }
  
  .buttons button {
    padding: 8px 16px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 11px;
  }

  /* STILE BODY */

  /*  scritto h1  */
  
  .matrix-text-container3 p {  
    font-family: monospace;
    color: #0f0;
    font-size: 50px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid rgb(255, 255, 255);   
    animation: typing 5s steps(30) forwards, blink .5s step-end infinite alternate;
    
  }
/* 
  .frase1 {
    
  } */
 
   
   .matrix-text-container3 p::first-letter {
    opacity: 0.5;
    
  }  

  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
   
  }
  
  @keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 254, 254) }
    
  }


/* css homepage */
.profile-picture {
 
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
    
}

/* Animazioni per gli elementi */
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Animazione fadeIn */
.animate__fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animazione fadeInUp */
.animate__fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animazione fadeInDown */
.animate__fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animazione fadeInLeft */
.animate__fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animazione fadeInRight */
.animate__fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

 
   

  /* INIZIO CSS DI HTML5 */

  .descrHtml1 {
    font-size: 13px;
    color: rgb(168, 16, 16);
    font-family: monospace;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background: linear-gradient(to top left, rgba(255, 17, 17, 0.712), rgba(85, 65, 65, 0.486), rgba(83, 74, 74, 0.712), rgba(23, 23, 23, 0.712));
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  }

  .descrHtml2 {
    font-size: 12px;
    color: rgb(119, 101, 101);
    font-family: monospace;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  }

  .markTag {
    background: linear-gradient(rgba(251, 142, 142, 0.712), rgba(255, 255, 255, 0.486), rgba(250, 148, 148, 0.712));
    color: rgb(0, 0, 0);
  }

  .descrHtml3 {
    font-size: 12px;
    color: rgb(49, 157, 69);
    font-family: monospace;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background: linear-gradient(to top left, rgba(17, 255, 45, 0.712), rgba(74, 248, 79, 0.486), rgba(74, 83, 75, 0.712), rgba(23, 23, 23, 0.712), rgba(0, 0, 0, 0.712));
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  }
  
  .myDiv1 strong {
       color: rgba(113, 238, 123, 0.551);
  } 
  /* .myDiv1 ul {
    white-space: pre-wrap;
  } 

  .myDiv1 ul::after {
    content: "\A";
    white-space: pre;    
  } */

  .myDiv1 ul {
    margin-bottom: 10px;
  }
  .myDiv1 li {
    margin-bottom: 5px;
  }
  

  
  

  .elencoTag1 {
    font-size: 12px;
    color: rgb(146, 148, 249);
    font-family: monospace;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background: linear-gradient(to top left, rgba(17, 21, 255, 0.649), rgba(74, 77, 248, 0.486), rgba(74, 75, 83, 0.712), rgba(23, 23, 23, 0.712),  rgba(17, 21, 255, 0.649));
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  }

  .elencoTag1 li {
    margin-bottom: 5px;
    color: rgb(47, 96, 195);
    font-weight: bold;
  }











  /* INIZIO CSS DI CSS3 */

  .selettori h6 {
    color: rgba(255, 17, 17, 0.712);
    font-weight: bold;    
    
  }



/* 1 TABELLA tag html5*/



  /* Colori */
  :root {
    --main-color: #00ffcc;
    --background-color: #000;
    --text-color: #fff;
    --table-header-color: rgb(44, 64, 218);
    --table-row-color: #333;
    --textarea-color: #333;
    --textarea-border-color: #f0f;
}

/* Stile generale */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

/* Stile della tabella */
.cyberpunk-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cyberpunk-table th,
.cyberpunk-table td {
    border: 1px solid var(--main-color);
    padding: 10px;
}

.cyberpunk-table th {
    background-color: var(--table-header-color);
    text-align: left;
}

.cyberpunk-table td {
    background-color: var(--table-row-color);
}

/* Stile del titolo della tabella */
.table-heading {
    color: var(--main-color);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

/* Stile dell'esempio */
.descr_esempio {
    color: var(--main-color);
}


/* TEXT-AREA */
.cyberpunk-textarea {
  width: 50%;
  background-color: var(--textarea-color);
  border: 2px solid var(--textarea-border-color);
  color: var(--text-color);
  /* padding: 10px; */
  box-sizing: border-box;
  /* font-family: "Arial", sans-serif; */
  /* font-size: 10px;
  line-height: 1.5; */
  resize: vertical;
  /* Stile della scrollbar */
 scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
 scrollbar-width: thin;

}


summary {
  color: tomato;
}

  
  
  